<%- include('./partials/header') %>
    <main>
      <div class="image-container">
        <img src="images/books.jpg" alt="Image of Books">
      </div>
      <div class="text-container">
        <p>
          â‹†.ğ–¥” İ Ë–. İâ‚Š âŠ¹ . İË– . İâ‹†.ğ–¥” İ Ë–. İâ‚Š âŠ¹ . İË– . İâ‹†.ğ–¥” İ Ë–. İâ‚Š âŠ¹ . İË– . İâ‹†.ğ–¥” İ
          Ë–. İâ‚Š âŠ¹ . İË– . İâ‹†.ğ–¥” İ
          <br /><br />
          Welcome to <strong>Fantasy Bloom</strong>, your ultimate online
          marketplace for all things <em>Fantasy</em> and <em>Romantasy</em>!
          Whether you're seeking epic adventures in magical realms or heartwarming
          tales of romance and fantasy, we have something for every book lover.
          Explore our curated collection of novels, from enchanting worlds to
          captivating characters, and let your imagination bloom with every page
          you turn. Join us in celebrating the magic of storytelling with books
          that transport you to new, unforgettable worlds. <br /><br />
          â‹†.ğ–¥” İ Ë–. İâ‚Š âŠ¹ . İË– . İâ‹†.ğ–¥” İ Ë–. İâ‚Š âŠ¹ . İË– . İâ‹†.ğ–¥” İ Ë–. İâ‚Š âŠ¹ . İË– . İâ‹†.ğ–¥” İ
          Ë–. İâ‚Š âŠ¹ . İË– . İâ‹†.ğ–¥” İ
        </p>
      </div>
    </main>
    
<%- include('./partials/footer') %>