<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar">
          <div class="brand">
            <a href="index.html"><img src="images/logo.png" class="logo" alt="logo"></a>
          </div>
          <ul>
            <li><a href="items.html">Browse</a></li>
            <li><a href="new.html">Sell</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="signUp.html">Sign Up</a></li>
          </ul>
          <form class="search-bar">
            <input type="text" name="search" placeholder="Search..." />
            <button type="submit">Search</button>
          </form>
        </nav>
      </header>
      <main>
        <div class="item-listing-container">
          <div class="item">
              <a href="item.html">
                  <img src="images/fourthWing.jpg" alt="Fourth Wing Book" />
                  <h3 class="item-title">Fourth Wing</h3>
                  <p class="item-condition">Condition: New</p>
                  <p class="item-price">Price: $16.99</p>
                  <p class="item-offers">Total Offers: 0</p>
              </a>
          </div>
          <div class="item">
            <a href="item.html">
                <img src="images/acotar.jpg" alt="ACOTAR book" />
                <h3 class="item-title">A Court Of Thorns And Roses</h3>
                <p class="item-condition">Condition: New</p>
                <p class="item-price">Price: $10.05</p>
                <p class="item-offers">Total Offers: 0</p>
            </a>
          </div>
        </div>
        <div class="item">
          <a href="item.html">
              <img src="images/tog.jpg" alt="Throne of Glass book" />
              <h3 class="item-title">Throne of Glass</h3>
              <p class="item-condition">Condition: New</p>
              <p class="item-price">Price: $12.04</p>
              <p class="item-offers">Total Offers: 0</p>
          </a>
      </div>
      <div class="item">
        <a href="item.html">
            <img src="images/oneDarkWindow.jpg" alt="One Dark Window Book" />
            <h3 class="item-title">One Dark Window</h3>
            <p class="item-condition">Condition: New</p>
            <p class="item-price">Price: $12.66</p>
            <p class="item-offers">Total Offers: 0</p>
        </a>
    </div>
    <div class="item">
      <a href="item.html">
          <img src="images/powerless.jpg" alt="Powerless Book" />
          <h3 class="item-title">Powerless</h3>
          <p class="item-condition">Condition: New</p>
          <p class="item-price">Price: $19.00</p>
          <p class="item-offers">Total Offers: 0</p>
      </a>
  </div>
  <div class="item">
    <a href="item.html">
        <img src="images/brokenBonds.jpg" alt="Broken Bonds Book" />
        <h3 class="item-title">Broken Bonds</h3>
        <p class="item-condition">Condition: New</p>
        <p class="item-price">Price: $16.99</p>
        <p class="item-offers">Total Offers: 0</p>
    </a>
</div>
      </main>
    <footer>
        <div class="social-media">
          <a href="https://facebook.com" target="_blank" class="social-icon"><i class="fab fa-facebook"></i></a>
          <a href="https://twitter.com" target="_blank" class="social-icon"><i class="fab fa-twitter"></i></a>
          <a href="https://instagram.com" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
          <a href="https://linkedin.com" target="_blank" class="social-icon"><i class="fab fa-linkedin"></i></a>
        </div>
        <p>&copy; 2025 Fantasy Bloom. All rights reserved.</p>
      </footer>
  </body>
</html>