<%- include('../partials/header.ejs')%>
    <div class = "content">
        <h3>Stories</h3>
        <%if(stories.length > 0){ %>
            <p>Select a story to read</p>
            <%stories.forEach(story =>{%>
                <a href="/stories/<%= story.id %>"><p><%= story.title%></p></a>
            <%});
        } else { %>
            <p>There are no stories to read</p>
        <%} %>
    </div>
<%- include('../partials/footer.ejs')%>